@model RecodeViagens.Models.Transit

@{
    ViewData["Title"] = "INFO";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_transit">Editar</a> |
    <a asp-action="Index">Retornar</a>
</div>
