@model IEnumerable<RecodeViagens.Models.Customer>

@{
    ViewData["Title"] = "Clientela";
}

<h1>Cadastro de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">CRIAR NOVO</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_customer" class="btn btn-primary">EDITAR</a> |
                <a asp-action="Details" asp-route-id="@item.id_customer" class="btn btn-secondary">INFO</a> |
                <a asp-action="Delete" asp-route-id="@item.id_customer" class="btn btn-danger">DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
